@{
    ViewBag.Title = "HISTORY";
    ViewBag.Redirect = "reportSystem";
    Layout = "~/Views/Shared/_Modal.cshtml";
}
<script>
    var ControllerName = '@ViewBag.ControllerName';
    var ActionName = '@ViewBag.ActionName';
    var idNumber = '@ViewBag.idNumber';
</script>
<style>
    th, td {
        font-size: 12px;
        white-space: nowrap;
    }
    /*th {
        white-space: nowrap;
    }*/
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header"><h3>HISTORY</h3></div>
                <div class="card-body">
                    <div class="remove-padding">
                        <table id="pending" class="table-responsive" style="table-layout:auto; width:100%;">
                            <thead>
                                <tr>
                                    <th style="width:50px">M3 #</th>
                                    <th style="width:57px">SOCKET ID</th>
                                    <th style="width:57px">HANDLER ID</th>
                                    <th style="width:55px">HANDLER MODEL</th>
                                    <th style="width:57px">PACKAGE</th>
                                    @*<th style="width:110px">DATE REQUEST</th>
                                        <th style="width:140px">EXPECTED DATE OF SETUP</th>
                                        <th style="width:55px">SHIFT</th>*@
                                    <th style="width:80px">REQUESTED BY</th>
                                    <th style="width:135px">STATUS</th>
                                    <th style="width:80px">RECENT UPDATER</th>
                                    <th style="width:115px">DATE UPDATED</th>
                                    <th style="width:115px">CYCLE TIME(HR)</th>
                                    <th style="width:300px">REMARKS</th>
                                    <th style="width:300px">REASON FOR DATE CHANGE</th>
                                    <th style="width:100px">RELEASED TO</th>
                                </tr>
                            </thead>
                            <tbody id="history-data"></tbody>
                        </table>
                    </div>

                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
