.reports-list-tb{
    margin-top: 20px;
}

.tb-img img{
    width: 130px;
    height: auto;
    margin: 0;
}

table tr th{
    width: 10%;
}

.wrapper {
    /*padding-left: 300px;*/
}

body {
background-color:#eef5f9;
}
/*.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}*/

.parallax-container {
    height:200px;
}

@media only screen and (max-width : 992px) {
  .parallax img {
    max-height: 130%; /* or a little bit higher */
  }
}

@media only screen and (min-width: 993px) {
  .parallax img {
    max-height: 300%; /* or higher percentages. It's up to your taste */
  }
}